.led-main-carousel{
    margin-top: 40px !important;
    .row{
        .led-image{
            .swiper{
                .card-wrapper{
                    height: 500px !important;
                    .card{
                        background-color: transparent;
                        border-color: transparent;
                        img{
                            @include mobileScreen{
                                padding: 0px !important;
                            }
                            padding: 65px !important;
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                }
                .swiper-navBtn{
                    color: rgb(180, 180, 180) !important;
                }
            }
        }
        .led-text{
            h1{
                font-size: 45px;
                color: $main-color;
            }
            span{
                color: $main-color !important;
            }
        }
    }
}
// start gallery
.gallery-led{
    .row{
        .card{
            overflow: hidden;
            height: fit-content !important;
            &:hover{
                img{
                    transform: scale(1.2, 1.2) !important;
                }
                .card-body{
                    h3{
                        color: white !important;
                    }
                    .card-icons{
                        i{
                            color: $main-color !important;
                        }
                    }
                }
            }
            .card-img{
                height: 300px !important;
                overflow: hidden;
                border-radius: 0px !important;
                border: 2px solid $dark-color;
                @include mobileScreen{
                    height: 350px !important;
                }
                img{
                    height: 100% !important;
                    width: 100% !important;
                }
            }
            .card-body{
                height: fit-content !important;
                background-color: $dark-color;
                h3{
                    color: $main-color;
                }
                .card-icons{
                    i{
                        color: rgb(245, 245, 0) ;
                    }
                }
            }
        }
    }
}
// start gallery